/* Veiledning CSS: 
.Navnmenu = Påvirker alle items i navmenu
.Navnmenu a = a tag i Navnmenu 
.navmenu a:hover = påvirker det som skjer når hover over a tag
*/

/* Sikrer at innholdet i main (body) alltid er 300px (altså ikke under navigasjonen) */
@media (min-width: 992px) {
  body {
    padding-left: 300px;
  }
}

/* Søkebokser med input type text*/
input[type=text] {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 0px 12px 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

/* Navbar på toppen øverst */
.navbar {
  background-color: #222930;
  color: white;
  
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #111;
}

/* Styling på navigasjonen  til venstre
Setter padding til venstre og på top
Hinder understreking i lenker <a>
Fjerner kulepunkter i lister <ul>*/
.navmenu {
  background-color: #111;
  color: #D3D3D3;
  padding-top: 20px;
  padding-left: 20px;
}

.navmenu a {
  text-decoration: none;
  color: #D3D3D3;
}

.navmenu a:hover {
  color: #f1f1f1;
  font-size: 120%;
}

.navmenu ul {
  list-style-type: none;
}